<div class="col-xs-12 col-sm-6 col-md-6">
<div class="well well-sm">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <img src="<%= @user.picture_url if @user.picture? %>" alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-6 col-md-8">
            <h4>
               <%= @user.full_name %></h4>
            <small><cite title="San Francisco, USA"><%= @user.location %> <i class="glyphicon glyphicon-map-marker">
            </i></cite></small>
            <p>
                <i class="glyphicon glyphicon-envelope"></i> <%= @user.email %>
                <br />
                <br />
                <i class="glyphicon glyphicon-gift"></i> <%= @user.created_at %></p>
            <!-- Split button -->

                <a class="btn btn-primary" href="<%= edit_user_path(@user) %>"> Update</a>

        </div>
    </div>
</div>
</div>