<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  		<%= csrf_meta_tags %>
		<title>Plano Bê ex.</title>

		<!-- Bootstrap CSS -->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  <nav class="navbar navbar-default" role="navigation">
  	<!-- Brand and toggle get grouped for better mobile display -->
  	<div class="navbar-header">
  		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
  			<span class="sr-only">Toggle navigation</span>
  			<span class="icon-bar"></span>
  			<span class="icon-bar"></span>
  			<span class="icon-bar"></span>
  		</button>
  		<a class="navbar-brand" href="<%= root_path %>">Plano Bê Rails</a>
  	</div>
  
  	<!-- Collect the nav links, forms, and other content for toggling -->
  	<div class="collapse navbar-collapse navbar-ex1-collapse">
  		<ul class="nav navbar-nav navbar-right">
  			<% if user_signed_in? %>
  			<li><a href="/user_sessions/destroy" data-method="delete" rel="nofollow">Logout</a></li>
  			<li><a href="<%= user_path(current_user) %>/">Edit Profile</a></li>
  					<% else %>
  			<li><a href="<%= new_user_session_path %>">Login</a></li>
  			<li><a href="<%= posts_path %>">Upload Files</a></li>
  			<% end %>
  			<!-- <li class="dropdown">
  				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Configurações <b class="caret"></b></a>
  				<ul class="dropdown-menu">
  					<li><a href="#">Perfil</a></li>
  					<li><a href="#">Editar</a></li>
  				</ul>
  			</li> -->
  		</ul>
  	</div><!-- /.navbar-collapse -->
  </nav>
     <div class="container">

     

      <!-- Example row of columns -->
      <div class="row">
      	<% if notice.present? %>
      	<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<%= notice %>
		</div>
		<% end %>
		<% if alert.present? %>
		<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong><%= alert %></strong>
		</div>
		<% end %>
			<%= yield %>
      </div>

      <hr>
    </div> <!-- /container -->

    	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</body>
</html>
